[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ActuarialM"]
	path = ActuarialM
	url = https://github.com/cran/ActuarialM
[submodule "ComRiskModel"]
	path = ComRiskModel
	url = https://github.com/cran/ComRiskModel
[submodule "DDPM"]
	path = DDPM
	url = https://github.com/cran/DDPM
[submodule "DataSetsUni"]
	path = DataSetsUni
	url = https://github.com/cran/DataSetsUni
[submodule "countDM"]
	path = countDM
	url = https://github.com/cran/countDM
[submodule "dhsage"]
	path = dhsage
	url = https://github.com/cran/dhsage
[submodule "dprop"]
	path = dprop
	url = https://github.com/cran/dprop
[submodule "hivdata"]
	path = hivdata
	url = https://github.com/cran/hivdata
